aiokafka==0.8.0
async-timeout==4.0.2
-e git+git@github.com:CS2019TA/fogverse.git@d2d4e80fcc88b479d1f8ca6ce08c84413a563776#egg=fogverse
kafka-python==2.0.2
numpy==1.24.2
opencv-python==4.7.0.72
packaging==23.0
pandas==1.5.3
psutil==5.9.4
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
