<!DOCTYPE html>
<html>
  <body>
    <h1>Delay: <span id="delay"></span></h1>
    <h1>Topic: <span id="topic"></span></h1>
    <iframe width="1280" height="720" src="" id="vid-player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    <button type="button" id="api-call" onclick="getData()">Call REST API</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"
            integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" 
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script>
        const ADS_LIST = [
          { 'link' : '/Users/WorkPlace/Documents/final_assignment/ads/Kelebihan Kartu Jelajah Berganda (Multi Trip) MRT Jakarta.mp4',
            'duration' : 31000,
          },
          {
            'link' : '/Users/WorkPlace/Documents/final_assignment/ads/Hal yang Perlu Dilakukan Saat Terjadi Keadaan Darurat di MRT Jakarta.mp4',
            'duration' : 78000,
          },
          {
            'link' : '/Users/WorkPlace/Documents/final_assignment/ads/Panduan Perilaku di Transportasi Publik.mp4',
            'duration' : 61000
          }
        ]
        const endpoint = new URL("http://127.0.0.1:8000/consume");
        async function getData () {
            const response = await fetch(endpoint);
            const data = await response.json();
            console.log(data)
            appendDelay(data.timestamp)
            setVideo(data.ads)
            appendTopic(data.topic)
        }

        const setVideo = (index) => {
          const ads = (index == "2" ? ADS_LIST[2] : (index == "1" ? ADS_LIST[1] : ADS_LIST[0]))
          document.getElementById("vid-player").src = ads.link
          setTimeout(getData, ads.duration)
        }

        // source : https://github.com/fogverse/live-yolov5/blob/main/client/templates/index.html
        const convertTZ = (date, tzString) => {
          if (typeof date === 'string') {
            return new Date(date)
          } else {
            _date = date.toLocaleString("en-US", {timeZone: tzString})
            return new Date(_date)
          }
        }

        const appendDelay = (timestamp) => {
          const tsCreated = convertTZ(timestamp);
          const now = new Date();
          // tsCreatedVal.text(tsCreated.toISOString());
          // tsNowVal.text(now.toISOString());
          const delay = Math.abs(now - tsCreated - (7*60*60*1000));

          const span = document.getElementById("delay")
          const text = document.createTextNode(`${delay} ms`);
          span.textContent = '';
          span.appendChild(text);
        }

        const appendTopic = (topic) => {
          const span = document.getElementById("topic")
          const text = document.createTextNode(`${topic}`)
          span.textContent = '';
          span.appendChild(text)
        }
    </script>
  </body>
</html>